{% extends 'base.html' %}
{% block title %}
    Calculate Carbon Footprint
{% endblock title %}
{% block heading %}
    Calculate Carbon Footprint
{% endblock heading %}
{% block content %}
    <p class="description">
        Want to understand your impact on the planet? 
        This easy-to-use carbon footprint calculator helps you measure how your daily activities—like 
        driving, energy use, and food choices—affect the environment. 
        Get insights into your emissions and discover practical ways to reduce them. 
        Every small step counts toward a greener future!
    </p>
    <iframe class="carbon-calc" width="800" height="1000" frameborder="0" marginwidth="0" marginheight="0" scrolling="yes" src="https://calculator.carbonfootprint.com/calculator.aspx"></iframe>
{% endblock content %}