{% extends 'base.html' %}
{% block title %}
    Privacy & Cookie Policy
{% endblock title %}
{% block heading %}
    Privacy & Cookie Policy
{% endblock heading %}
{% block content %}    
    <div class="info-container">
        <strong>Effective date: 02/04/2025</strong>
        <h3>What we collect</h3>
        <p>We collect personal data from the user like:</p>
        <ul>
            <li>Full name</li>
            <li>Phone numbers</li>
            <li>Email addresses</li>
            <li>Mailing Addresses</li>
            <li>Debit/credit card numbers</li>
            <li>Password</li>
        </ul><br>

        <p>We collect cookies, which include:</p>
        <ul>
            <li>General Cookies</li>
            <li>Session Cookies</li>
        </ul>

        <br>
        <h3>Why we collect data</h3>

        <p>We collect personal data because:</p>
        <ul>
            <li>A user can book a consultation and installation of the products we show.</li>
            <li>A user can create an account with us to manage their consultations.</li>
        </ul><br>

        <p>We collect cookie data because:</p>
        <ul>
            <li>When booking an appointment, the data is passed through the pages with session cookies.</li>
            <li>A user can login into an account and have the wqebsite remember them, if they leave the site.</li>
        </ul>

        <br>
        <h3>Other</h3>
        <p>We send emails to the users to notify them of their:</p>
        <ul>
            <li>Account creation</li>
            <li>Booked consultation</li>
            <li>Booked installation</li>
            <li>Successful consultation</li>
        </ul>
    </div>
    
{% endblock content %}